body{
    background-image: url('../images/donate-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

header nav{
    background-color:rgba(96, 96, 96,.8);
    text-align: center;
    height: 80px;
    color: whitesmoke;
    padding-top: 0.5%;
    font-size:larger;
}


#form{
    position: relative;
    background-color:rgba(96, 96, 96,.8);
    color: whitesmoke;
    width: 35%;
    margin-top: 7%;
    margin-left: 7%;
    dis

}

#name{
    margin-left:20.5% ;
    

}
#amount {
    margin-left:27% ;
    text-align: center;
    padding-left: 16.5%;
}


#submit{
    margin-left:38% ;
    padding-left:22% ;
    text-align: center;
    background-color: rgba(96, 96, 96,.8);
    color:whitesmoke

}

#table , th ,td {
    border: 1px solid whitesmoke;
}
#table{
    background-color: rgba(96, 96, 96,.8);
    color:whitesmoke;
    width: 35%;

    margin-left: 50%;
    padding-top: 2%;
}


footer{
    background-color: rgba(96, 96, 96,.8);
    color:whitesmoke;
    text-align: center;
    padding-top: 2%;
    margin-top: 18%;
}

